:root {
    --primary-bleu: #1376F8;
    --secondary-bleu: #E6F6FE;
    --dark-bleu: #011632;
    --text-body-color: #3C4959;
    --neutre: #B8B8B8;
    --hover-bleu: #0F5BB5;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* HEADER */
header {
    background-color: var(--secondary-bleu);
    border-radius: 10px;
    padding-left: 46px;
    padding-right: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 46px 80px 0 80px;
    height: 87px;
  }
  
  .header-nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
  }
  
  .header-nav ul li a {
    font-size: 16px;
    color: var(--dark-bleu);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  
  .header-nav ul li a:hover {
    color: var(--hover-bleu);
  }
  
  .header-btn {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  
  .btn {
    background-color: var(--primary-bleu);
    border-radius: 10px;
    color: white;
    text-decoration: none;
    padding: 12px 48px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

/* MAIN SECTION */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 220px;
}

.page-title {
    font-size: 56px;
    color: var(--dark-bleu);
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: white;
    padding: 40px;
    border-radius: 10px;
}

.info-form {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-bleu);
}

.input-group {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid var(--neutre);
    border-radius: 10px;
    padding: 0px 20px;
    width: 100%;
    position: relative;
    height: 56px;
}

.input-group img {
    width: 20px;
    margin-right: 10px;
}

.input-group input {
    border: none;
    background: transparent;
    font-size: 16px;
    font-family: 'Poppins';
    outline: none;
    flex: 1;
    color: var(--text-body-color);
}

.password-group .eye-icon {
    width: 20px;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.profile-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--neutre);
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit-photo {
    margin-top: 10px;
    font-size: 16px;
    color: var(--dark-bleu);
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
}

.edit-photo:hover {
    color: var(--primary-bleu);
}

button.btn {
    margin-top: 20px;
    width: auto;
    padding: 14px 50px;
    background: var(--primary-bleu);
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button.btn:hover {
    background: var(--hover-bleu);
}

/* DÉCONNEXION */
.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 50px;
}

.logout img {
    width: 24px;
}

.logout a {
    font-size: 18px;
    color: #E25C5C;
    text-decoration: none;
    font-weight: 600;
    
}

.logout a:hover {
    color: #803b3b;
}
